<div class="container">
    <div class="jumbotron">
        <div class="row">
            <h1>Welcome to RecipeVCS</h1>
            <h2>A highly interactive system for managing recipes</h2>
        </div>
    </div>
        <div class="row bg-info img-rounded">
            <div class="col-xs-4">
                <h2>For Creators</h2>
                <p>RecipeVCS offers an intuitive recipe creation system that allows a user to easily create their own recipes, or extend an existing recipe by "forking" it and creating a new and unique version of the recipe.</p>
                <br/>
                <a class="btn-lg btn-success" href="{{rootDir}}/recipes/newRecipe"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-book"></span> Create A Recipe</a>
                <br/>
                <br/>
            </div>
            <div class="col-xs-4">
                <h2>For Consumers</h2>
                <p>Recipe views offer much more than just a static list of directions and ingredients. Users are able to easily convert units, check off ingredients, and view related recipes. Users can also make use of the unique "Pantry Search" function that allows users to find recipes based on what ingredients they might have on hand.</p>
                <br/>
                <a class="btn-lg btn-success" href="{{rootDir}}/recipes/pantry"><span class="glyphicon glyphicon-eye-open"></span> Pantry Search</a>
                <br/>
                <br/>
            </div>
            <div class="col-xs-4">
                <h2>Get Started</h2>
                <p>Create an account now by clicking on the button below!</p>
                <br/>
                <a class="btn-lg btn-success" href="{{rootDir}}/users/newuser"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user"></span> Create Account</a>
                <br/>
                <br/>
            </div>
        </div>
</div>