<div class="container">
<div class="jumbotron bg-warning">
    <h1>Create an Account</h1><br/>
<form method="POST" action="./adduser" class="form-horizontal">
    <div class="row">
    <div class="form-group col-xs-5">
    <label>Nickname:</label>
    <input type="text" name="nickname" class="form-control" required><br />
    </div>
    </div>
    
    <div class="row">
    <div class="form-group row col-xs-5">
    <label>Email address:</label>
    <input type="email" name="email" class="form-control" required><br />
    </div>
    </div>
    
    <div class="row">
    <div class="form-group col-xs-5">
    <label>Password:</label>
    <input type="password" name="password" class="form-control" required>
    </div>
    </div>
    <br/>
    <br/>
    
    <div class="row">
    <div class="form-group col-xs-2">
    <input type="submit" class="btn btn-block btn-lg btn-success"/>
    </div>
    </div>
</form>
</div>
</div>